body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
}
.card {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}
.matched {
    background-color: #88e88a;
}#resetButton {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #4CAF50; /* Couleur verte */
    color: white; /* Texte blanc */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#resetButton:hover {
    background-color: #45a049; /* Couleur verte plus foncée au survol */
}